* {
    margin: 0px;
    padding: 0px;
  }
  
.website_container {
width: 100%;
height: auto;
}

body {
  background-color: #FFFFFF;
  font-family:Arial, Helvetica, sans-serif ;
  }
  
  .mijn-roc-container-header{
  width:100%;
  height:68px;
  background-color:#F0F0F7;
  display: flex;
  flex-direction:row-reverse;
  justify-content: space-around;
  gap: 70%;
  }
  
  .mijn-roc-header{
    font-size: 16px;
    color: #402E56;
    background-color: #F0F0F7;
    outline-style: solid;
    outline-width: 2px;
    outline-color: #6E6EB4;
    height: 37px;
    font-weight: bold;
    width: 106px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
    border-radius: 30px;
    transition: 0.5s;
  }
  
  .logo-header{
    margin-top: 20px;
  }
  
  .mijn-roc-header:hover{
    font-size: 20px;
  }
  
  .lower-header-container{
    width:100%;
    display: flex;
    justify-content: end;
  }
  
  .zoek-icon-header{
    margin: 17px;
  }
  
  .zoek-word-header{
    font-weight: bolder;
    margin-top: 17px;
    margin-right: 10px;
  }
  
  .zoeken-header{
    display: flex;
    flex-direction: row;
    width: 225px;
    height: 69px;
    background-color: #F0F0F7;
    border-radius: 50px;
    font-size: 32px;
    justify-content: space-between;
    margin-top: 1%;
    color: #402E56;
    outline-style: solid;
    outline-width: 2px;
    outline-color: #6E6EB4;
    margin-right: 4%;
    transition: 2s;
  }
  
  .zoeken-header:hover{
    width: 925px;
    border-radius: 20px;
    transition: 1s;
  }
  
  .header-campus{
    margin-top: 10px;
  }
  
  .eyecatcher-header-container{
    width: 407px;
    height: 119px;
    background-color: #402E56;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    opacity: 0.9;
    border-radius: 10px 30px;
    position: absolute;
    margin-top: 40px;
    margin-left: 20px;
    text-align: center;
    font-size: 24px;
    transition: 2s;
  }
  
  .eyecatcher-header-container:hover{
    font-size: 28px;
    transition: 1s;
  }
  
  
  .eyecatcher-text{
    font-size: 32px;
  }

  .main-body {
    width: 100%;
    height: 3000px;
    background-color: white;
   }


  .welkom {
    display: flex;
    flex-direction: row;
    width: 720px;
    height: 448px;
    padding-left: 120px;
  }

  .welkom-text {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 448px;
  }

  .welkom-text-head {
    width: 420px;
    height: 158px;
    padding: 40px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 64px;
    font-weight: bold;
    color: #402e56;
    padding-bottom: 5px;
  }

  .toekomst {
   display: flex;
   flex-direction: column;
   width: 513px;
   height: 88px; 
   padding: 40px;
   margin-left: 30px;
  }


  .toekomst-text1 {
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #402e56;
  }

  .toekomst-text2 {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #402e56;
  }

  .welkom-image-container {
    width: 720px;
    height: 448px;
    padding-left: 100px;
    padding-top: 45px;

  }

  .welkom-image {
    width: 577px;
    height: 336px;
    border: none;
    border-radius: 40px;
  }

  .line {
    width: 1023px;
    height: 1px;
    background-color: #402E56;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .onderwerp-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 1440px;
    height: 580px;

  }

  .interesse-onderwerp {
    display: flex;
    flex-direction: column;
    width: 471px;
    height: 580px;
    align-items: center;
  }

  .interesse-text {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #402e56;
    text-align: center;
    margin-bottom: 25px;
  }

  .interesse-button {
    width: 220px;
    height: 70px;
    background-color: #6E6EB4;
    border: none;
    border-radius: 100px;
  }

  .interesse-button:hover {
    width: 220px;
    height: 70px;
    background-color: #565699;
    border: none;
    border-radius: 100px;
    cursor: pointer;
  }

  .interesse-text-button {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
  }

  .locaties-onderwerp {
    display: flex;
    flex-direction: column;
    width: 471px;
    height: 580px;
    align-items: center;
  }

  .locaties-text {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #402e56;
    text-align: center;
    margin-bottom: 25px;
  }

  .locaties-button {
    width: 220px;
    height: 70px;
    background-color: #6E6EB4;
    border: none;
    border-radius: 100px;
  }

  .locaties-button:hover {
    width: 220px;
    height: 70px;
    background-color: #565699;
    border: none;
    border-radius: 100px;
    cursor: pointer;
  }

  .locaties-text-button {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
  }

  .software-dev-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1440px;
    height: 448px;
    margin-left: 100px;
  }

  .dev-text {
    display: flex;
    flex-direction: column;
    width: 720px;
    height: 448px;
  }

  .dev-text-head {
    width: 670px;
    height: 80px;
    padding: 40px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 64px;
    font-weight: bold;
    color: #402e56;
    padding-top: 70px;
  }

  .dev-text-norm {
   display: flex;
   flex-direction: column;
   width: 785px;
   height: 169px; 
  }


  .dev-text1 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: #402e56;
    text-align: center;
  }



  .dev-image-container {
    display: flex;
    justify-content: space-evenly;
    width: 720px;
    height: 448px;
    margin-top: 20px;
  }

  .dev-image {
    width: 466px;
    height: 385px;
    border: none;
    border-radius: 20px;
  }

  .software-dev-head-text {
    width: 1024px;
    height: 100px;
    justify-content: center;
    align-items: center;
    margin-left: 230px;
  }

  .software-text {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #402e56;
    text-align: center;
  }

  .software-dev-container2 {
    display: flex;
    flex-direction: row;
    width: 1440px;
    height: 1080px;
    justify-content: space-evenly;
    margin-top: 30px;
  }

  .software-dev-info {
    display: flex;
    flex-direction: column;
    width: 539px;
    height: 278px;
    border: solid;
    border-radius: 20px;
    border-color: #402E56;
    background-color: #ffffff;
  }

  .info-head-text-container {
    display: flex;
    width: 539px;
    height: 44px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .info-text-head {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #402e56;
    text-align: center;
    height: 50px;
  }

  .software-info-container {
    display: flex;
    flex-direction: row;
    width: 398px;
    height: 162px;
  }

  .info-container {
    display: flex;
    flex-direction: column;
    width: 191px;
    height: 161px;
    justify-content: center;
    align-items: center;
    margin-left: 59px;
    margin-top: 30px;
  }

  .info-niveau {
    display: flex;
    width: 191px;
    height: 33px;
    border: none;
    border-radius: 10px;
    background-color: #f0f0f7;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .info-text {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #402e56;
    margin: 0;
  }

  .info-BOL {
    display: flex;
    width: 61px;
    height: 33px;
    border: none;
    border-radius: 10px;
    background-color: #f0f0f7;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 31px;
    margin-bottom: 31px;
  }
  
  .info-jaar {
    display: flex;
    width: 127px;
    height: 33px;
    border: none;
    border-radius: 10px;
    background-color: #f0f0f7;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .info-aanmelden {
    display: flex;
    width: 134px;
    height: 33px;
    border: solid;
    border-radius: 100px;
    border-color: #402E56;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #402E56;
  }

  .info-aanmelden:hover {
    display: flex;
    width: 134px;
    height: 33px;
    border: none;
    border-radius: 100px;
    border-color: #402E56;
    background-color: #565699;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
  }

  
  .info-opendagen {
    display: flex;
    width: 134px;
    height: 33px;
    border: solid;
    border-radius: 100px;
    border-color: #402E56;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-top: 31px;
    margin-bottom: 31px;
    color: #402E56;
  }

  .info-opendagen:hover {
    display: flex;
    width: 134px;
    height: 33px;
    border: none;
    border-radius: 100px;
    border-color: #402E56;
    background-color: #565699;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-top: 31px;
    margin-bottom: 31px;
  }
  
  
  .info-meelopen {
    display: flex;
    width: 134px;
    height: 33px;
    border: solid;
    border-radius: 100px;
    border-color: #402E56;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #402E56;
  }

  .info-meelopen:hover {
    display: flex;
    width: 134px;
    height: 33px;
    border: none;
    border-radius: 100px;
    border-color: #402E56;
    background-color: #565699;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
  }

  .meer-info-container {
    display: flex;
    flex-direction: row;
    width: 378px;
    height: 554px;
    background-color: #ffffff;
    border: solid;
    border-color: #402E56;
    border-radius: 20px;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .img-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 390px;
    margin-left: 12px;
    margin-top: 15px;
  }

  .img-row-images {
    width: 23px;
    height: 24px;
  }

  .meer-text-container {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 412px;
  }

  .niveau-middenkader {
    display: flex;
    flex-direction: column;
    width: 203px;
    height: 42px;
    margin-top: 17px;
  }

  .middenkader-head-text {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #402E56;
  }

  .middenkader-text {
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: normal;
    color: #402E56;
  }

  .leerweg-BOL {
    display: flex;
    width: 203px;
    height: 42px;
    margin-top: 17px;
  }

  .leerweg-head {
    display: flex;
    width: 203px;
    height: 42px;
    flex-direction: row;
  }

  .leerweg-text1 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #402E56;
  }

  .leerweg-text2 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding-left: 5px;
    color: #402E56;
  }

  .opleiding-jaar {
    display: flex;
    width: auto;
    height: 42px;
  }

  .opleiding-head {
    display: flex;
    width: 250px;
    height: 42px;
    flex-direction: row;
  }

  .opleiding-text1 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #402E56;
  }

  .opleiding-text2 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding-left: 5px;
    color: #402E56;
  }

  .richting-ICT {
    display: flex;
    width: auto;
    height: 42px;
  }

  .richting-head {
    display: flex;
    width: 250px;
    height: 42px;
    flex-direction: column;
  }

  .richting-head-text {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #402E56;
  }

  .richting-text {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #402E56;
  }

  .lesgeld-euro {
    display: flex;
    width: auto;
    flex-direction:column;
    height: 42px;
  }

  .lesgeld-head {
    display: flex;
    flex-direction: row;
    width: 203px;
    height: 42px;
    margin-top: 17px;
  }

  .lesgeld-text1 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #402E56;
  }

  .lesgeld-text2 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #402E56;
  }

  .lesgeld-text3 {
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: normal;
    text-decoration: none;
    color: #402E56;
  }

  .opleiding-datum {
    display: flex;
    width: auto;
    height: 42px;
  }

  .opleiding-datum-head {
    display: flex;
    width: 250px;
    height: 42px;
    flex-direction: column;
    margin-top: 17px;
  }

  .opleiding-head-text {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #402E56;
  }

  .opleiding-text {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #402E56;
  }

  .crebocode {
    display: flex;
    width: auto;
    height: 42px;
  }

  .crebocode-head {
    display: flex;
    width: 250px;
    height: 42px;
    flex-direction: row;
    margin-top: 45px;
  }

  .crebocode-text1 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #402E56;
  }

  .crebocode-text2 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding-left: 5px;
    color: #402E56;
  }

  .locatie-info {
    display: flex;
    flex-direction: column;
    width: 203px;
    height: 42px;
    margin-top: 50px;
  }

  .locatie-head-text {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #402E56;
  }

  .locatie-text {
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: normal;
    color: #402E56;
  }

  .meer-button-container {
    width: 378px;
    height: 40px;
    margin-top: 85px;
  }

  .meer-info-button {
    width: 310px;
    height: 40px;
    color: #ffffff;
    background-color: #6E6EB4;
    border: none;
    border-radius: 100px;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: bold;
  }

  .meer-info-button:hover {
    width: 310px;
    height: 40px;
    color: #ffffff;
    background-color: #565699;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: bold;
  }

