* {
    margin: 0px;
    padding: 0px;
    z-index: 1;
  }
  
.website_container {
width: 100%;
height: 1080px;
background-color: white;
position: relative;
overflow: hidden;
}

  .main-body {
    width: 100%;
    height: 3000px;
    background-color: white;
   }

   .background-square {
    position: absolute;
    width: 1248px; 
    height: 1232px; 
    background-color: rgba(182, 182, 217, 0.2); 
    transform: rotate(39deg); 
    top: 50%;
    left: 50%; 
    transform-origin: center; 
    margin-top: -100px; 
    margin-left: -30px; 
    z-index: 0; 
   }

  .welkom {
    display: flex;
    flex-direction: row;
    width: 720px;
    height: 448px;
    padding-left: 120px;
  }

  .welkom-text {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 448px;
  }

  .welkom-text-head {
    width: 420px;
    height: 158px;
    padding: 40px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 64px;
    font-weight: bold;
    color: #402e56;
    padding-bottom: 5px;
  }

  .toekomst {
   display: flex;
   flex-direction: column;
   width: 513px;
   height: 88px; 
   padding: 40px;
   margin-left: 30px;
  }


  .toekomst-text1 {
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #402e56;
  }

  .toekomst-text2 {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #402e56;
  }

  .welkom-image-container {
    width: 720px;
    height: 448px;
    padding-left: 100px;
    padding-top: 45px;

  }

  .welkom-image {
    width: 577px;
    height: 336px;
    border: none;
    border-radius: 40px;
  }

  .line {
    width: 1023px;
    height: 1px;
    background-color: #402E56;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .onderwerp-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 1440px;
    height: 580px;

  }

  .interesse-onderwerp {
    display: flex;
    flex-direction: column;
    width: 471px;
    height: 580px;
    align-items: center;
  }

  .interesse-text {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #402e56;
    text-align: center;
    margin-bottom: 25px;
  }

  .interesse-button {
    width: 220px;
    height: 70px;
    background-color: #6E6EB4;
    border: none;
    border-radius: 100px;
  }

  .interesse-button:hover {
    width: 220px;
    height: 70px;
    background-color: #565699;
    border: none;
    border-radius: 100px;
    cursor: pointer;
  }

  .interesse-text-button {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
  }

  .locaties-onderwerp {
    display: flex;
    flex-direction: column;
    width: 471px;
    height: 580px;
    align-items: center;
  }

  .locaties-text {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #402e56;
    text-align: center;
    margin-bottom: 25px;
  }

  .locaties-button {
    width: 220px;
    height: 70px;
    background-color: #6E6EB4;
    border: none;
    border-radius: 100px;
  }

  .locaties-button:hover {
    width: 220px;
    height: 70px;
    background-color: #565699;
    border: none;
    border-radius: 100px;
    cursor: pointer;
  }

  .locaties-text-button {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
  }

  .software-dev-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1440px;
    height: 448px;
    margin-left: 100px;
  }

  .dev-text {
    display: flex;
    flex-direction: column;
    width: 720px;
    height: 448px;
  }

  .dev-text-head {
    width: 670px;
    height: 80px;
    padding: 40px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 64px;
    font-weight: bold;
    color: #402e56;
    padding-top: 70px;
  }

  .dev-text-norm {
   display: flex;
   flex-direction: column;
   width: 785px;
   height: 169px; 
  }


  .dev-text1 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: #402e56;
    text-align: center;
  }



  .dev-image-container {
    display: flex;
    justify-content: space-evenly;
    width: 720px;
    height: 448px;
    margin-top: 20px;
  }

  .dev-image {
    width: 466px;
    height: 385px;
    border: none;
    border-radius: 20px;
  }

  .software-dev-head-text {
    width: 1024px;
    height: 100px;
    justify-content: center;
    align-items: center;
    margin-left: 230px;
  }

  .software-text {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #402e56;
    text-align: center;
  }

  .software-dev-container2 {
    display: flex;
    flex-direction: row;
    width: 1440px;
    height: 1080px;
    justify-content: space-evenly;
    margin-top: 30px;
  }

  .software-dev-info {
    display: flex;
    flex-direction: column;
    width: 539px;
    height: 278px;
    border: solid;
    border-radius: 20px;
    border-color: #402E56;
    background-color: #ffffff;
  }

  .info-head-text-container {
    display: flex;
    width: 539px;
    height: 44px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .info-text-head {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #402e56;
    text-align: center;
    height: 50px;
  }

  .software-info-container {
    display: flex;
    flex-direction: row;
    width: 398px;
    height: 162px;
  }

  .info-container {
    display: flex;
    flex-direction: column;
    width: 191px;
    height: 161px;
    justify-content: center;
    align-items: center;
    margin-left: 59px;
    margin-top: 30px;
  }

  .info-niveau {
    display: flex;
    width: 191px;
    height: 33px;
    border: none;
    border-radius: 10px;
    background-color: #f0f0f7;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .info-text {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #402e56;
    margin: 0;
  }

  .info-BOL {
    display: flex;
    width: 61px;
    height: 33px;
    border: none;
    border-radius: 10px;
    background-color: #f0f0f7;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 31px;
    margin-bottom: 31px;
  }
  
  .info-jaar {
    display: flex;
    width: 127px;
    height: 33px;
    border: none;
    border-radius: 10px;
    background-color: #f0f0f7;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .info-aanmelden {
    display: flex;
    width: 134px;
    height: 33px;
    border: solid;
    border-radius: 100px;
    border-color: #402E56;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
  }

  .info-aanmelden:hover {
    display: flex;
    width: 134px;
    height: 33px;
    border: none;
    border-radius: 100px;
    border-color: #402E56;
    background-color: #565699;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
  }

  
  .info-opendagen {
    display: flex;
    width: 134px;
    height: 33px;
    border: solid;
    border-radius: 100px;
    border-color: #402E56;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-top: 31px;
    margin-bottom: 31px;
  }

  .info-opendagen:hover {
    display: flex;
    width: 134px;
    height: 33px;
    border: none;
    border-radius: 100px;
    border-color: #402E56;
    background-color: #565699;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-top: 31px;
    margin-bottom: 31px;
  }
  
  
  .info-meelopen {
    display: flex;
    width: 134px;
    height: 33px;
    border: solid;
    border-radius: 100px;
    border-color: #402E56;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
  }

  .info-meelopen:hover {
    display: flex;
    width: 134px;
    height: 33px;
    border: none;
    border-radius: 100px;
    border-color: #402E56;
    background-color: #565699;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
  }

  .meer-info-container {
    display: flex;
    flex-direction: column;
    width: 378px;
    height: 554px;
    background-color: #ffffff;
    border: solid;
    border-color: #402E56;
    border-radius: 20px;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .img-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 390px;
    margin-left: 30px;
    margin-top: 15px;
  }

  .img-row-images {
    width: 23px;
    height: 24px;

  }